.container-despesas {
  margin: 10px 300px;

  padding: 20px;
  border-radius: 10px;
  /*background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);*/
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.table-content {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.table-actions {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.button-table-action {
  width: 100px;
  height: 40px;
  background-color: #a9cf3c;
  color: #fff;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button-table-action:hover {
  transform: scale(1.05);
  background-color: #a9cf3c;
}

.table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;

  font-family: "Franklin Gothic light", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  background-color: #fff;
}

.btn-red {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #f6821f;
  border-radius: 5px;
  color: #f6821f;
  font-weight: 600;
}

.btn-red:hover {
  cursor: pointer;
  background-color: #f6821f;
  border: 1px solid #f6821f;
  border-radius: 5px;
  color: white;
}

.btn-green {
  cursor: pointer;

  background-color: #ffffff;
  border: 1px solid #a9cf3c;
  border-radius: 5px;
  color: #a9cf3c;
  font-weight: 600;
}
.btn-green:hover {
  cursor: pointer;

  background-color: #a9cf3c;
  border: 1px solid #a9cf3c;
  border-radius: 5px;
  color: white;
}
