{% extends "navbar.html" %} {% block content %}

<link rel="stylesheet" href="dashboard/static/css/dashboard_financeiro.css" />

<div class="container-dashboard">
  <div class="kpi">
    <div class="kpi-item">
      <div class="kpi-item-title">Total de entradas</div>
      <div class="kpi-item-value" id="kpi-entradas"></div>
    </div>
    <div class="kpi-item">
      <div class="kpi-item-title">Total de saídas</div>
      <div class="kpi-item-value" id="kpi-saidas"></div>
    </div>
    <div class="kpi-item">
      <div class="kpi-item-title">Cálculo Geral</div>
      <div class="kpi-item-value" id="kpi-calculo"></div>
    </div>
  </div>

  <div class="graph-first-line">
    <div class="graph-background">
      <label>Entradas por período</label>
      <canvas id="entrada_periodo"></canvas>
    </div>
    <div class="graph-background">
      <label>Saidas por período</label><canvas id="saida_periodo"></canvas>
    </div>
  </div>

  <div class="graph-second-line">
    <div class="graph-background">
      <label>Balanço de entradas e saidas</label
      ><canvas id="entrada_calculo"></canvas>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="dashboard/static/js/dashboard_financeiro.js"></script>

  {% endblock %}
</div>
