{% extends "navbar.html" %} {% block content %}

<link rel="stylesheet" href="dashboard/static/css/dashboard_profissional.css" />

<div class="container-dashboard">
  <div class="kpi">
    <div class="kpi-item">
      <div class="kpi-item-title">Total de profissionais que atendem Plano</div>
      <div class="kpi-item-value" id="kpi-1"></div>
    </div>
    <div class="kpi-item">
      <div class="kpi-item-title">
        Total de profissionais que atendem Particular
      </div>
      <div class="kpi-item-value" id="kpi-2"></div>
    </div>
  </div>

  <div class="graph-second-line">
    <div class="graph-background">
      <label>Profissionais por plano de saude</label
      ><canvas id="profissional_plano"></canvas>
    </div>
    <div class="graph-background">
      <label>Profissionais por Especialidade</label
      ><canvas id="profissional_especialidade"></canvas>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="dashboard/static/js/dashboard_profissional.js"></script>

  {% endblock %}
</div>
