{% extends "navbar.html" %} {% block content %}

<link rel="stylesheet" href="dashboard/static/css/dashboard_atendimento.css" />

<div class="container-dashboard">
  <div class="kpi">
    <div class="kpi-item">
      <div class="kpi-item-title">Total de tratamentos ativo</div>
      <div class="kpi-item-value" id="kpi-1"></div>
    </div>
    <div class="kpi-item">
      <div class="kpi-item-title">Total de tratamentos ativo presenciais</div>
      <div class="kpi-item-value" id="kpi-2"></div>
    </div>
    <div class="kpi-item">
      <div class="kpi-item-title">Total de tratamentos online</div>
      <div class="kpi-item-value" id="kpi-3"></div>
    </div>
  </div>

  <div class="graph-second-line">
    <div class="graph-background">
      <label>Tratamentos por Especialidade</label
      ><canvas id="tratamentos_especialidade"></canvas>
    </div>
    <div class="graph-background">
      <label>Tratamentos por profissional</label
      ><canvas id="tratamentos_profissional"></canvas>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="dashboard/static/js/dashboard_atendimento.js"></script>

  {% endblock %}
</div>
