{% extends "navbar.html" %} {% block content %}

<link rel="stylesheet" href="atendimento/static/css/atendimento_novo.css" />

<div class="container-atendimento-novo">

  <div class="title">Módulo de Tratamentos - Cadastro</div>

  <div class="form-content">

    <div class="two-right">
    <div class="form-input">
      <label for="usuario">Nome</label>
      <input type="text" placeholder="Insira o nome completo" autofocus="true" id="nome" />
    </div>
    
    <div class="form-input">
      <label for="usuario">CPF</label>
      <input type="text" placeholder="XXX.XXX.XXX-XX" autofocus="true" id="cpf" />
    </div>
  </div>

  <div class="nome-endereco">
    <div class="form-input">
      <label for="usuario">Profissional Responsável</label>
      <input type="text" placeholder="Insira o nome do profissional responsável" autofocus="true" id="profissional_responsavel" />
    </div>
    
    
    <div class="form-input">
      <label for="usuario">Observação</label>
      <textarea type="text-area" placeholder="Insira a observação" autofocus="true"
      id="observacao"></textarea>
    </div>
  </div>

  <div class="two-center">
    <div class="form-input">
      <label for="usuario">Data de início</label>
      <input type="text" placeholder="XX/XX/XXXX" autofocus="true" id="data_inicio" />
    </div>

    <div class="form-input">
      <label for="usuario">Data de fim</label>
      <input type="text" placeholder="XX/XX/XXXX" autofocus="true" id="data_fim" />
    </div>
  </div>

    <div class="upload">
      <input type="file" id="myFile" name="filename" />
    </div>

    <div class="actions">
      <a class="button-table-action" onclick="get_content()">Salvar</a><a class="button-table-action"
        href="/atendimento">Voltar</a>
    </div>
  </div>

  <script src="atendimento/static/js/atendimento_novo.js"></script>
  {% endblock %}