{% extends "page.html"%} {% block navbar%}
<nav class="navbar">
  <div class="itens">
    <div class="logo">
      <img src="page/static/img/logo.png" alt="Logo" class="logo-image" />
    </div>
    <div>
      <ul class="links">
        <li class="link"><a href="/paciente">Pacientes</a></li>
        <li class="link"><a href="/atendimento">Tratamentos</a></li>
        <li class="link"><a href="/profissional">Profissionais</a></li>
        <li class="link"><a href="#">Relatórios</a></li>
        <li class="link"><a href="#">Agenda</a></li>
      </ul>
    </div>

    <div>
      <ul class="logout">
        <li class="link"><a onclick="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}
