{% extends "navbar.html" %} {% block content %}

<link rel="stylesheet" href="despesas/static/css/despesas_novo.css" />

<div class="container-despesas-novo">
  <div class="title">Módulo Financeiro - Editar</div>
  <div class="form-content">
    <div class="two-center">
      <div class="form-input">
        <label for="usuario">Tipo de Lançamento</label>
        <select name="paciente" id="tipo" class="select">
          <option value="Entrada">Entrada</option>
          <option value="Saida">Saida</option>
        </select>
      </div>
      <div class="form-input">
        <label for="usuario">Categoria</label>
        <select name="paciente" id="tipo_despesa" class="select">
          <option value="Entrada">Entrada</option>
          <option value="Saida">Saida</option>
        </select>
      </div>

      <div class="form-input">
        <label for="usuario">Descrição</label>
        <input
          type="text"
          placeholder="Insira a descrição da despesa"
          autofocus="true"
          id="descricao"
        />
      </div>

      <div class="form-input">
        <label for="usuario">Nome do Responsável</label>
        <input
          type="text"
          placeholder="Insira o nome do responsável da despesa"
          autofocus="true"
          id="nome_responsavel"
        />
      </div>
    </div>

    <div class="two-center">
      <div class="form-input">
        <label for="usuario">Data</label>
        <input
          type="text"
          placeholder="XX/XX/XXXX"
          autofocus="true"
          id="data"
        />
      </div>

      <div class="form-input">
        <label for="usuario">Valor</label>
        <input
          type="text"
          placeholder="R$ XXX,XX"
          autofocus="true"
          id="valor"
        />
      </div>
    </div>

    <div class="upload">
      <input type="file" id="myFile" name="filename" />
    </div>

    <div class="actions">
      <a class="button-download" onclick="window.download_anexo()"
        >Baixar Anexo</a
      >
      <a class="button-table-action" onclick="get_despesas_edit()">Salvar</a
      ><a class="button-table-action" href="/despesas">Voltar</a>
    </div>
  </div>

  <script src="despesas/static/js/despesas_editar.js"></script>
  {% endblock %}
</div>
