{% extends "navbar.html" %} {% block content %}

<link rel="stylesheet" href="despesas/static/css/despesas_novo.css" />

<div class="container-despesas-novo">
  <div class="title">Módulo de Despesas - Editar</div>
  <div class="form-content">
    <div class="nome-endereco">
      <div class="form-input">
        <label for="usuario">Data da Despesa</label>
        <input
          type="text"
          placeholder="Insira o nome completo"
          autofocus="true"
          id="data"
        />
      </div>

      <div class="form-input">
        <label for="usuario">Tipo de Despesa</label>
        <input
          type="text"
          placeholder="Insira seu endereço completo"
          autofocus="true"
          id="tipo_despesa"
        />
      </div>
    </div>
    <div class="four-items">
      <div class="form-input">
        <label for="usuario">Valor</label>
        <input
          type="text"
          placeholder="XXXXX-XXX"
          autofocus="true"
          id="valor"
        />
      </div>
      <div class="form-input">
        <label for="usuario">Nome do Responsável</label>
        <input
          type="text"
          placeholder="XX.XXX.XXX-X"
          autofocus="true"
          id="nome_responsavel"
        />
      </div>
    </div>

    <div class="upload">
      <input type="file" id="myFile" name="filename" />
    </div>

    <div class="actions">
      <a class="button-table-action" onclick="get_despesas_edit()">Salvar</a
      ><a class="button-table-action" href="/despesas">Voltar</a>
    </div>
  </div>

  <script src="despesas/static/js/despesas_editar.js"></script>
  {% endblock %}
</div>
