.container-dashboard {
  margin: 10px 300px;

  padding: 20px;
  border-radius: 10px;
  /*background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);*/
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 0 10px;

  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.form-input {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-input label {
  margin: 0 5px;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.parametros {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.modulo {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.form-button-modulo {
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.button-add {
  width: 100px;
  height: 40px;
  background-color: #a9cf3c;
  color: #fff;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-add:hover {
  transform: scale(1.05);
  background-color: #a9cf3c;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 0 10px;

  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.filtros-aplicados {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.kpi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.kpi-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #a9cf3c;
}

.kpi-item-title {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.kpi-item-value {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.graph-first-line {
  margin-top: 50px;
  display: grid;

  grid-template-columns: 0.7fr 1.3fr;
  gap: 20px;
}

.graph-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  height: 200px;
  padding: 50px;
  flex-direction: column;
}

.graph-second-line {
  margin-top: 50px;
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
