.navbar {
  background-color: #f1f1f1;
  max-width: 100%;
  margin: 0 auto;
  top: 0;
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
}

.logo {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
  margin-left: 20px;
}

.logo-image {
  width: 150px;
  display: block;
}

.links {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.link a {
  text-decoration: none;
  color: rgb(126, 125, 125);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.link a:hover {
  color: rgb(0, 0, 0);
}

.container-body {
  margin: 0;
}

.itens {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
}

.logout {
  text-align: right;
}
