{% extends "navbar.html" %} {% block content %}

<link rel="stylesheet" href="paciente/static/css/paciente_novo.css" />

<div class="container-paciente-novo">
  <div class="title">Módulo de Pacientes - Cadastro</div>
  <div class="form-content">
    <div class="form-input">
      <label for="usuario">Nome</label>
      <input type="nome" placeholder="Nome" autofocus="true" id="nome" />
    </div>
    <div class="form-input">
      <label for="usuario">Email</label>
      <input
        type="user"
        placeholder="Digite seu usuário"
        autofocus="true"
        id="user"
      />
    </div>
  </div>

  <div class="actions">
    <a class="button-table-action">Salvar</a
    ><a class="button-table-action">Voltar</a>
  </div>
</div>

<script src="paciente/static/js/paciente_novo.js"></script>
{% endblock %}
